In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("eur.csv", parse_dates=True, index_col = "Date")

In [8]:
data

               EUR
Date
2021-12-29  1.1288
2021-12-28  1.1310
2021-12-27  1.1328
2021-12-24  1.1319
2021-12-23  1.1327
...            ...
2017-01-05  1.0607
2017-01-04  1.0489
2017-01-03  1.0405
2017-01-02  1.0455
2016-12-30  1.0517

[1304 rows x 1 columns]